/* Chord composition tables */
.root, .accidental {
	font-family: Roots_Slashes;
	font-size: 300%;
	cursor: pointer;
}

.Chords td:hover {
	background-color: rgba(255,255,255,.075);
}

.variation {
	font-family: Variations;
	font-size: 300%;
}

#chord-editor {
	display: block;
	z-index: 15;
	position: relative;
}

#show-edit-suggest-buttons {
	position: absolute;
	visibility: hidden;
	z-index: 15;
}
#send-chord-btn {
	display: none;
	z-index: 15;
}

#close-chord-btn{
	z-index: 15;
}

.notification-container{
	font-size: 2rem;
	border-radius: 30%;
}