/* Chord composition tables */
#roots {
}

#accidentals {
}

#roots-container {
}

.Chords {
	font-family: Roots_Slashes;
	font-size: 300%;
	cursor: pointer;
}

#variations tbody {
	font-family: Variations;
	font-size: 300%;
}