.users-div {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  
  font-size: 0.7em;
  font-weight: bold;

  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid black;

  padding-inline-start: 0.1rem;
  padding-inline-end: 0.1rem;
}

.note-info {
  position: absolute;
  right: 50px;
  bottom: 50px;

  /* width: 15vw; */
  width: fit-content;
  height: fit-content;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, .2);

  padding: .5rem;
  z-index: 100000;
}

#select-area {
  border: 1px dotted black;
  background-color: rgba(0, 140, 220, 0.2);
  position: absolute;
  z-index: 10000;
}

/* Given to note elements when selected */
.selected {
  filter: url(#highlight-shadow);
}

.single-note-select {
  position: absolute;
  z-index: 10000;
  opacity: 0.2;

  cursor: pointer;
}

#output > svg {
  user-select: none;
}

.user-list {
  position: absolute;
  width: 100px;
  height: 30px;

  z-index: 1000000;
}

.dropdown-item:hover {
  filter: brightness(90%);
}

.dropdown-item > a:hover {
  text-decoration: none;
  background-color: initial;
}

/* Bootstrap nested Dropdown menu */
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}