* {
  --theme-color1: rgb(241, 246, 237);
  --theme-color2: rgb(137, 129, 65);
  --theme-color3: rgb(230, 135, 21);
  --theme-color4: rgb(208, 164, 100);
  --theme-color5: rgb(237, 212, 167);
  --theme-color6: rgb(101, 159, 129);
  --theme-color7: rgb(129, 163, 145);
  --theme-color8: rgb(184, 212, 198);
  --theme-color9: rgb(142, 185, 163);

  --score-color: #fffdf3;

  --old-theme-1: #01313f;
}

:root {
  --collab-layer-zIndex: 900;
  --collab-layer-bradius: 5px;
  --select-opacity: 0.2;
}

#output {
  min-height: 30vh;
}

#collab-container, .comments{
  position: absolute;
  
  width: 100%;
  height: 100%;
  pointer-events: none;

  z-index: var(--collab-layer-zIndex);
  /* border: 1px solid red; */
}

.single-select {
  position: absolute;
  z-index: var(--collab-layer-zIndex);
  opacity: var(--select-opacity);

  pointer-events: none;
  border-radius: var(--collab-layer-bradius);
}

.users-div {
  position: absolute;
  z-index: var(--collab-layer-zIndex);
  cursor: pointer;
  pointer-events: bounding-box;
  
  font-size: 0.7em;
  font-weight: bold;

  background-color: rgba(240, 240, 240, 0.8);
  border: 1px solid black;

  padding-inline-start: 0.1rem;
  padding-inline-end: 0.1rem;
}

.context-menu-dropdown-item {
  background-color: var(--light);
  color: var(--dark) !important;
  font-size: small;
}

.context-menu-dropdown-item:hover {
  background-color: var(--primary);
  color: var(--light) !important;
}

.note-info {
  position: absolute;
  right: 50px;
  bottom: 50px;

  /* width: 15vw; */
  width: fit-content;
  height: fit-content;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, var(--select-opacity));

  padding: .5rem;
  z-index: var(--collab-layer-zIndex);
}

#select-area {
  border: 1px dotted black;
  background-color: rgba(0, 140, 220, var(--select-opacity));
  position: absolute;
  z-index: var(--collab-layer-zIndex);
}

.multi-select-area {
  position: absolute;
  z-index: var(--collab-layer-zIndex);
  background-color: blue;
  pointer-events: none;

  border-radius: var(--collab-layer-bradius);
}

#highlight-container {
  position: absolute;
  width: 100%;
  z-index: calc(var(--collab-layer-zIndex) + 20);
  /* background-color: rgba(0, 140, 220, 0.05); */
  pointer-events: none;
}

.highlight-area {
  position: absolute;
  background-color: blue;
  pointer-events: none;
  
  transition: transform 300ms ease-out;

  border-radius: var(--collab-layer-bradius);
}

.highlight-color {
  transform: scale(1);
  background-color: rgba(0, 0, 255, 0.04);
}

.highlight-area-focus {
  transform: scale(1.1) !important;
  background-color: rgba(0, 0, 255, 0.3) !important;
}

#comment-create-svg {
  transform: scale(1);
  transition: transform 200ms ease-out;
}

#comment-create-svg:hover {
  transform: scale(1.2);
}

.comment-with-replies {
  cursor: pointer;
  border-radius: 10px;

  transition: transform 200ms ease-out;
}

.comment-with-replies:hover {
  transform: translateY(10px) scale(1.05);
}

.toggle-comments {
  position: absolute;
  z-index: calc(var(--collab-layer-zIndex) + 40);
}

/* Given to note elements when selected */
.selected {
  filter: url(#highlight-shadow);
}

.single-note-select {
  position: absolute;
  z-index: var(--collab-layer-zIndex);
  opacity: var(--select-opacity);

  /* cursor: pointer; */
  pointer-events: none;
  border-radius: var(--collab-layer-bradius);
}

#output > svg {
  user-select: none;
}

.user-list {
  position: absolute;
  width: 100px;
  height: 30px;

  z-index: 1000;
}

.users-online {
  list-style: none;
}

.offline-status {
  background-color: red;
  /* color: rgb(142, 255, 76); */
  box-shadow: rgb(14, 15, 15) 0px 0px 0px 2px;
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  position: absolute;
  box-sizing: border-box;
  bottom: 14%;
  right: 14%;

  min-width: 8px;
  padding: 0px;
  height: 8px;
  border-radius: 4px;

  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;

  animation: none;
}

.online-status {
  background-color: rgb(54, 146, 0);
  color: rgb(142, 255, 76);
  box-shadow: rgb(14, 15, 15) 0px 0px 0px 2px;
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  position: absolute;
  box-sizing: border-box;
  bottom: 14%;
  right: 14%;

  min-width: 8px;
  padding: 0px;
  height: 8px;
  border-radius: 4px;

  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform: scale(1) translate(50%, 50%);
  transform-origin: 100% 100%;

  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.dropdown-item:hover {
  filter: brightness(90%);
}

.dropdown-item > a:hover {
  text-decoration: none;
  background-color: initial;
}

.dropdown-item {
  background-color: var(--theme-color1);
}

/* Bootstrap nested Dropdown menu */
.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}


/* Draggable SVG items */
#collab-container-svg {
  z-index: var(--collab-layer-zIndex);
  fill-opacity: var(--select-opacity);
}

.static-svg {
  cursor: default;
}

.draggable-svg, .draggable-group-svg {
  cursor: move;
}
/* Draggable SVG items */