.nav-play-button {
  color: white;
  opacity: 0.6;
  /* background: #01313f; */
	background-color: var(--theme-color7);
  margin-top: 2px;
}

#midiPlayer_div  {
	height:     36px;
	background: var(--theme-color7);
	opacity:    0.70;
}

#midiPlayer_bar  {
	height:            12px;
	width:             250px;
	background:        #ccc;
	cursor:            pointer;
	display:           inline-block;
}

#midiPlayer_progress {
	background:        var(--theme-color1);
	margin:            0;
	width:             0;
	height:            100%;
}

#midiPlayer_playingTime {
	width:             45px;
	margin:            8px;
	font-size:         16px;
	text-align:        right;
	font-family:       arial;
	display:           inline-block;
}

#midiPlayer_totalTime {
	width:             40px;
	text-align:        right;
	margin:            4px;
	font-size:         16px;
	font-family:       arial;
	display:           inline-block;
}

#midiPlayer_div a {
	cursor:            pointer;
	vertical-align:    center;
	color: #fff;
}

#midiPlayer_div a:hover {
	color: green !important;

}

#midiPlayer_div a.play:hover {
	color: hotpink !important;
}


